/*body*/
body{
    background-color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
}
.solidborder{
    border: 0.125rem solid;
}

/*header*/
header{
    display: flex;
    flex-direction: column;
}

/*top half of the header*/
.topnav {
    display: flex;
    overflow: hidden;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: -1%;
  }
  /*logo*/
  .topnav .logo{
    background-color: #88c24b;
    font-size: 1.5rem;
    color: white;
    padding: 0.6rem;
    border-radius: 0.7rem;
  }
  /*links*/
  .topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 0.7rem 1rem;
    text-decoration: none;
    font-size: 1.3rem;
  }
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    color: #0069d9;
  }

/*bottom half of the header*/
.location{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 14%;
    background-color: #f5f5f5;
    margin-top: -0.5%;
    padding-right: 90%;
    margin-left: -0.5%;
}
/*Parent page*/
  .parent{
      color:#337ab7;
  }

/*Transaction form*/
.makeTransaction{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-self: center;
    align-items: center;
    margin-top: 1.5%;
}
/*Top half of transaction form*/
  .topMakeTransaction{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  /*add connection button*/
  .topMakeTransaction a{
    background-color: #0275d8;
    color: white;
    align-self: center;
    border-radius: 0.7rem;
    text-decoration: none;
    padding: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-weight: bold;
  }
  /*input form*/
  .input{
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      background-color:#f5f5f5 ;
      padding-top :2.3rem;
      padding-bottom: 2.3rem;
      margin-top: -0.7rem;
  }
  /*pay button*/
  .payButton{
    background-color: #5cb85c;
    color: white;
    align-self: center;
    border-radius: 0.7rem;
    border :0;
    padding: 0.5rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    font-weight: bold;
  }
  
/*transaction list*/
.transactionList{
    align-self: center;
    width:80%;
    margin-top: 1.5%;
}
  /*table*/
  table{
      align-content: space-around;
      justify-content: space-around;
      width:100%;
      border-collapse: collapse;
      text-align: center;
  }
  tr{
      height:5rem;
  }
  #head{
    background-color:#5cb85c;
    color: white;
  }
  table tr:nth-child(even){
      background-color:#f5f5f5 ;
  }
  